In [1]:
import os
import glob
import pandas as pd

In [2]:
os.chdir("Resources")
os.getcwd()

'/Users/Lei 1/Documents/PREWORK_LQ/Tableau/Resources'

In [3]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [4]:
#combine all files in the list
df = pd.concat([pd.read_csv(f) for f in all_filenames ])
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [5]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
df.count()

tripduration               17548339
starttime                  17548339
stoptime                   17548339
start station id           17545842
start station name         17545842
start station latitude     17548339
start station longitude    17548339
end station id             17545842
end station name           17545842
end station latitude       17548339
end station longitude      17548339
bikeid                     17548339
usertype                   17548339
birth year                 17548339
gender                     17548339
dtype: int64

In [7]:
# drop NA
df = df.dropna(how="any")

In [8]:
df.count()

tripduration               17545842
starttime                  17545842
stoptime                   17545842
start station id           17545842
start station name         17545842
start station latitude     17545842
start station longitude    17545842
end station id             17545842
end station name           17545842
end station latitude       17545842
end station longitude      17545842
bikeid                     17545842
usertype                   17545842
birth year                 17545842
gender                     17545842
dtype: int64

In [9]:
# drop the data with age < 90
df = df[df['birth year'] > 1928] 
df.count()

tripduration               17532384
starttime                  17532384
stoptime                   17532384
start station id           17532384
start station name         17532384
start station latitude     17532384
start station longitude    17532384
end station id             17532384
end station name           17532384
end station latitude       17532384
end station longitude      17532384
bikeid                     17532384
usertype                   17532384
birth year                 17532384
gender                     17532384
dtype: int64

In [10]:
# drop the data with tripduration < 60 seconds
df = df[df['tripduration'] > 60] 
df.count()

tripduration               17532384
starttime                  17532384
stoptime                   17532384
start station id           17532384
start station name         17532384
start station latitude     17532384
start station longitude    17532384
end station id             17532384
end station name           17532384
end station latitude       17532384
end station longitude      17532384
bikeid                     17532384
usertype                   17532384
birth year                 17532384
gender                     17532384
dtype: int64

In [11]:
#reset index based on sfd
df = df.sort_values("starttime", ascending=True)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
115400,196,2018-01-01 00:01:50.6500,2018-01-01 00:05:07.4380,315.0,South St & Gouverneur Ln,40.703554,-74.006702,259.0,South St & Whitehall St,40.701221,-74.012342,18534,Subscriber,1997,1
549193,207,2018-01-01 00:02:43.9180,2018-01-01 00:06:11.3830,3224.0,W 13 St & Hudson St,40.739974,-74.005139,470.0,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978,1
192744,613,2018-01-01 00:03:15.1160,2018-01-01 00:13:28.4800,386.0,Centre St & Worth St,40.714948,-74.002345,2008.0,Little West St & 1 Pl,40.705693,-74.016777,21678,Subscriber,1982,1
294006,375,2018-01-01 00:06:43.7090,2018-01-01 00:12:59.4500,466.0,W 25 St & 6 Ave,40.743954,-73.991449,325.0,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982,1
248393,402,2018-01-01 00:06:56.9240,2018-01-01 00:13:39.7920,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Subscriber,1989,1

In [12]:
df = df.reset_index(drop=True)

In [13]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,196,2018-01-01 00:01:50.6500,2018-01-01 00:05:07.4380,315.0,South St & Gouverneur Ln,40.703554,-74.006702,259.0,South St & Whitehall St,40.701221,-74.012342,18534,Subscriber,1997,1
1,207,2018-01-01 00:02:43.9180,2018-01-01 00:06:11.3830,3224.0,W 13 St & Hudson St,40.739974,-74.005139,470.0,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978,1
2,613,2018-01-01 00:03:15.1160,2018-01-01 00:13:28.4800,386.0,Centre St & Worth St,40.714948,-74.002345,2008.0,Little West St & 1 Pl,40.705693,-74.016777,21678,Subscriber,1982,1
3,375,2018-01-01 00:06:43.7090,2018-01-01 00:12:59.4500,466.0,W 25 St & 6 Ave,40.743954,-73.991449,325.0,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982,1
4,402,2018-01-01 00:06:56.9240,2018-01-01 00:13:39.7920,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,30722,Subscriber,1989,1

In [14]:
# reduce the data size by dropping rows with index ending with 0 and 5 (keep 4 rows of every 5 rows, reducd ~20%)
df = df.drop(df.iloc[::2].index, 0)

In [15]:
df.count()

tripduration               8766192
starttime                  8766192
stoptime                   8766192
start station id           8766192
start station name         8766192
start station latitude     8766192
start station longitude    8766192
end station id             8766192
end station name           8766192
end station latitude       8766192
end station longitude      8766192
bikeid                     8766192
usertype                   8766192
birth year                 8766192
gender                     8766192
dtype: int64

In [16]:
# create a new age column
df["age"] = 2018 - df ["birth year"]

In [17]:
# create a new trip duration column using minute unit
df["tripduration minute"] = round(df ["tripduration"]/60, 2)

In [18]:
df = df.reset_index(drop=True)
df.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,tripduration minute
0,207,2018-01-01 00:02:43.9180,2018-01-01 00:06:11.3830,3224.0,W 13 St & Hudson St,40.739974,-74.005139,470.0,W 20 St & 8 Ave,40.743453,-74.000040,19651,Subscriber,1978,1,40,3.45
1,375,2018-01-01 00:06:43.7090,2018-01-01 00:12:59.4500,466.0,W 25 St & 6 Ave,40.743954,-73.991449,325.0,E 19 St & 3 Ave,40.736245,-73.984738,29822,Subscriber,1982,1,36,6.25
2,326,2018-01-01 00:12:31.3060,2018-01-01 00:17:58.2600,453.0,W 22 St & 8 Ave,40.744751,-73.999154,3258.0,W 27 St & 10 Ave,40.750182,-74.002184,30447,Subscriber,1963,1,55,5.43
3,101,2018-01-01 00:13:47.2950,2018-01-01 00:15:28.5600,3534.0,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,3534.0,Frederick Douglass Blvd & W 117 St,40.805159,-73.954692,32796,Subscriber,1988,1,30,1.68
4,311,2018-01-01 00:14:57.0890,2018-01-01 00:20:08.9410,319.0,Fulton St & Broadway,40.711066,-74.009447,249.0,Harrison St & Hudson St,40.718710,-74.009001,30143,Subscriber,1999,1,19,5.18
5,501,2018-01-01 00:16:45.6840,2018-01-01 00:25:07.3120,483.0,E 12 St & 3 Ave,40.732233,-73.988900,507.0,E 25 St & 2 Ave,40.739126,-73.979738,27922,Subscriber,1971,1,47,8.35
6,101,2018-01-01 00:17:09.1850,2018-01-01 00:18:50.1940,146.0,Hudson St & Reade St,40.716250,-74.009106,249.0,Harrison St & Hudson St,40.718710,-74.009001,25576,Subscriber,1980,1,38,1.68
7,1418,2018-01-01 00:18:23.1730,2018-01-01 00:42:02.0260,3168.0,Central Park West & W 85 St,40.784727,-73.969617,3168.0,Central Park West & W 85 St,40.784727,-73.969617,16257,Subscriber,1961,2,57,23.63
8,584,2018-01-01 00:20:13.2910,2018-01-01 00:29:57.7420,490.0,8 Ave & W 33 St,40.751551,-73.993934,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,26681,Subscriber,1986,1,32,9.73
9,190,2018-01-01 00:20:43.3620,2018-01-01 00:23:54.1610,353.0,S Portland Ave & Hanson Pl,40.685396,-73.974315,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,26795,Subscriber,1985,1,33,3.17

In [19]:
df.count()

tripduration               8766192
starttime                  8766192
stoptime                   8766192
start station id           8766192
start station name         8766192
start station latitude     8766192
start station longitude    8766192
end station id             8766192
end station name           8766192
end station latitude       8766192
end station longitude      8766192
bikeid                     8766192
usertype                   8766192
birth year                 8766192
gender                     8766192
age                        8766192
tripduration minute        8766192
dtype: int64

In [20]:
#export to csv
df.to_csv("combined_2018_half.csv", index=False, encoding='utf-8-sig')