In [1]:
import os
import glob
import pandas as pd

In [2]:
# will need to download NY city bike data from https://s3.amazonaws.com/tripdata/index.html
# and save it in a subdirectory named as "Resources" first
os.chdir("Resources")
# os.getcwd()

In [3]:
# use glob.glob to find all the pathnames matching the pattern .csv
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
print(all_filenames)

['201809-citibike-tripdata.csv', '201801-citibike-tripdata.csv', '201803-citibike-tripdata.csv', 'combined_2018_half.csv', '201805-citibike-tripdata.csv', '201807-citibike-tripdata.csv', '201811-citibike-tripdata.csv', '201808-citibike-tripdata.csv', '201802-citibike-tripdata.csv', '201812-citibike-tripdata.csv', '201804-citibike-tripdata.csv', '201810-citibike-tripdata.csv', '201806-citibike-tripdata.csv']

In [4]:
#combine all files in the list
df = pd.concat([pd.read_csv(f) for f in all_filenames ])
df.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,age,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,tripduration minute,usertype
0,NaN,25577,1980,366.0,40.693261,-73.968896,Clinton Ave & Myrtle Ave,1,252.0,40.732264,-73.998522,MacDougal St & Washington Sq,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,1635,NaN,Subscriber
1,NaN,34377,1969,3242.0,40.691029,-73.991834,Schermerhorn St & Court St,0,314.0,40.693830,-73.990539,Cadman Plaza West & Montague St,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,132,NaN,Subscriber
2,NaN,30496,1975,3384.0,40.678724,-73.995991,Smith St & 3 St,1,3142.0,40.761227,-73.960940,1 Ave & E 62 St,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3337,NaN,Subscriber
3,NaN,28866,1984,3690.0,40.713342,-74.009355,Park Pl & Church St,2,308.0,40.713079,-73.998512,St James Pl & Oliver St,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,436,NaN,Subscriber
4,NaN,20943,1994,380.0,40.734011,-74.002939,W 4 St & 7 Ave S,1,345.0,40.736494,-73.997044,W 13 St & 6 Ave,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,8457,NaN,Customer

In [5]:
df.dtypes

age                        float64
bikeid                       int64
birth year                   int64
end station id             float64
end station latitude       float64
end station longitude      float64
end station name            object
gender                       int64
start station id           float64
start station latitude     float64
start station longitude    float64
start station name          object
starttime                   object
stoptime                    object
tripduration                 int64
tripduration minute        float64
usertype                    object
dtype: object

In [6]:
df.count()

age                         1813015
bikeid                     19361354
birth year                 19361354
end station id             19358857
end station latitude       19361354
end station longitude      19361354
end station name           19358857
gender                     19361354
start station id           19358857
start station latitude     19361354
start station longitude    19361354
start station name         19358857
starttime                  19361354
stoptime                   19361354
tripduration               19361354
tripduration minute         1813015
usertype                   19361354
dtype: int64

In [7]:
# drop NA
df = df.dropna(how="any")

In [8]:
df.count()

age                        1813015
bikeid                     1813015
birth year                 1813015
end station id             1813015
end station latitude       1813015
end station longitude      1813015
end station name           1813015
gender                     1813015
start station id           1813015
start station latitude     1813015
start station longitude    1813015
start station name         1813015
starttime                  1813015
stoptime                   1813015
tripduration               1813015
tripduration minute        1813015
usertype                   1813015
dtype: int64

In [9]:
# drop the data with age < 90
df = df[df['birth year'] > 1928] 
df.count()

age                        1813015
bikeid                     1813015
birth year                 1813015
end station id             1813015
end station latitude       1813015
end station longitude      1813015
end station name           1813015
gender                     1813015
start station id           1813015
start station latitude     1813015
start station longitude    1813015
start station name         1813015
starttime                  1813015
stoptime                   1813015
tripduration               1813015
tripduration minute        1813015
usertype                   1813015
dtype: int64

In [10]:
# drop the data with tripduration < 60 seconds
df = df[df['tripduration'] > 60] 
df.count()

age                        1813015
bikeid                     1813015
birth year                 1813015
end station id             1813015
end station latitude       1813015
end station longitude      1813015
end station name           1813015
gender                     1813015
start station id           1813015
start station latitude     1813015
start station longitude    1813015
start station name         1813015
starttime                  1813015
stoptime                   1813015
tripduration               1813015
tripduration minute        1813015
usertype                   1813015
dtype: int64

In [11]:
#reset index based on sfd
df = df.sort_values("starttime", ascending=True)
df.head()

,age,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,tripduration minute,usertype
0,40.0,19651,1978,470.0,40.743453,-74.000040,W 20 St & 8 Ave,1,3224.0,40.739974,-74.005139,W 13 St & Hudson St,2018-01-01 00:02:43.9180,2018-01-01 00:06:11.3830,207,3.45,Subscriber
1,36.0,29822,1982,325.0,40.736245,-73.984738,E 19 St & 3 Ave,1,466.0,40.743954,-73.991449,W 25 St & 6 Ave,2018-01-01 00:06:43.7090,2018-01-01 00:12:59.4500,375,6.25,Subscriber
2,55.0,30447,1963,3258.0,40.750182,-74.002184,W 27 St & 10 Ave,1,453.0,40.744751,-73.999154,W 22 St & 8 Ave,2018-01-01 00:12:31.3060,2018-01-01 00:17:58.2600,326,5.43,Subscriber
3,30.0,32796,1988,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,1,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,2018-01-01 00:13:47.2950,2018-01-01 00:15:28.5600,101,1.68,Subscriber
4,19.0,30143,1999,249.0,40.718710,-74.009001,Harrison St & Hudson St,1,319.0,40.711066,-74.009447,Fulton St & Broadway,2018-01-01 00:14:57.0890,2018-01-01 00:20:08.9410,311,5.18,Subscriber

In [12]:
df = df.reset_index(drop=True)

In [13]:
df.head()

,age,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,tripduration minute,usertype
0,40.0,19651,1978,470.0,40.743453,-74.000040,W 20 St & 8 Ave,1,3224.0,40.739974,-74.005139,W 13 St & Hudson St,2018-01-01 00:02:43.9180,2018-01-01 00:06:11.3830,207,3.45,Subscriber
1,36.0,29822,1982,325.0,40.736245,-73.984738,E 19 St & 3 Ave,1,466.0,40.743954,-73.991449,W 25 St & 6 Ave,2018-01-01 00:06:43.7090,2018-01-01 00:12:59.4500,375,6.25,Subscriber
2,55.0,30447,1963,3258.0,40.750182,-74.002184,W 27 St & 10 Ave,1,453.0,40.744751,-73.999154,W 22 St & 8 Ave,2018-01-01 00:12:31.3060,2018-01-01 00:17:58.2600,326,5.43,Subscriber
3,30.0,32796,1988,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,1,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,2018-01-01 00:13:47.2950,2018-01-01 00:15:28.5600,101,1.68,Subscriber
4,19.0,30143,1999,249.0,40.718710,-74.009001,Harrison St & Hudson St,1,319.0,40.711066,-74.009447,Fulton St & Broadway,2018-01-01 00:14:57.0890,2018-01-01 00:20:08.9410,311,5.18,Subscriber

In [14]:
# reduce the data size by dropping every other row 
# iloc[START:END:STEP] to select rows starting from START+1 row to END+1 row with step=STEP
df = df.drop(df.iloc[::2].index, 0)
# df = df.iloc[::2]

In [15]:
df.count()

age                        906507
bikeid                     906507
birth year                 906507
end station id             906507
end station latitude       906507
end station longitude      906507
end station name           906507
gender                     906507
start station id           906507
start station latitude     906507
start station longitude    906507
start station name         906507
starttime                  906507
stoptime                   906507
tripduration               906507
tripduration minute        906507
usertype                   906507
dtype: int64

In [16]:
# create a new age column
df["age"] = 2018 - df ["birth year"]

In [17]:
# create a new trip duration column using minute unit
df["tripduration minute"] = round(df ["tripduration"]/60, 2)

In [18]:
df = df.reset_index(drop=True)
df.head(10)

,age,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,tripduration minute,usertype
0,36,29822,1982,325.0,40.736245,-73.984738,E 19 St & 3 Ave,1,466.0,40.743954,-73.991449,W 25 St & 6 Ave,2018-01-01 00:06:43.7090,2018-01-01 00:12:59.4500,375,6.25,Subscriber
1,30,32796,1988,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,1,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,2018-01-01 00:13:47.2950,2018-01-01 00:15:28.5600,101,1.68,Subscriber
2,47,27922,1971,507.0,40.739126,-73.979738,E 25 St & 2 Ave,1,483.0,40.732233,-73.988900,E 12 St & 3 Ave,2018-01-01 00:16:45.6840,2018-01-01 00:25:07.3120,501,8.35,Subscriber
3,57,16257,1961,3168.0,40.784727,-73.969617,Central Park West & W 85 St,2,3168.0,40.784727,-73.969617,Central Park West & W 85 St,2018-01-01 00:18:23.1730,2018-01-01 00:42:02.0260,1418,23.63,Subscriber
4,33,26795,1985,274.0,40.686919,-73.976682,Lafayette Ave & Fort Greene Pl,1,353.0,40.685396,-73.974315,S Portland Ave & Hanson Pl,2018-01-01 00:20:43.3620,2018-01-01 00:23:54.1610,190,3.17,Subscriber
5,61,26809,1957,3258.0,40.750182,-74.002184,W 27 St & 10 Ave,1,470.0,40.743453,-74.000040,W 20 St & 8 Ave,2018-01-01 00:23:04.9150,2018-01-01 00:28:35.5070,330,5.50,Subscriber
6,32,30889,1986,3532.0,40.781450,-73.918330,Ditmars Blvd & 19 St,1,3602.0,40.763154,-73.920827,31 Ave & 34 St,2018-01-01 00:24:50.9960,2018-01-01 00:39:48.6250,897,14.95,Subscriber
7,42,32796,1976,3226.0,40.782750,-73.971370,W 82 St & Central Park West,2,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,2018-01-01 00:25:37.7990,2018-01-01 00:44:49.3320,1151,19.18,Subscriber
8,54,32797,1964,3226.0,40.782750,-73.971370,W 82 St & Central Park West,1,3534.0,40.805159,-73.954692,Frederick Douglass Blvd & W 117 St,2018-01-01 00:26:21.3210,2018-01-01 00:44:47.4110,1106,18.43,Subscriber
9,53,15617,1965,518.0,40.747804,-73.973442,E 39 St & 2 Ave,1,382.0,40.734927,-73.992005,University Pl & E 14 St,2018-01-01 00:27:26.9900,2018-01-01 00:41:41.8520,854,14.23,Subscriber

In [19]:
df.count()

age                        906507
bikeid                     906507
birth year                 906507
end station id             906507
end station latitude       906507
end station longitude      906507
end station name           906507
gender                     906507
start station id           906507
start station latitude     906507
start station longitude    906507
start station name         906507
starttime                  906507
stoptime                   906507
tripduration               906507
tripduration minute        906507
usertype                   906507
dtype: int64

In [20]:
# Ensure the subdirectory that will use to store file has been created first (os.path.exists())
# creat one if not exist (os.mkdir())
output_name = 'combined_2018_half.csv'
output_dir = '../Output'

if not os.path.exists(output_dir):
    os.mkdir(output_dir)
    
full_path = os.path.join(output_dir, output_name)

In [21]:
# export to csv
df.to_csv(full_path, index=False, encoding='utf-8-sig')